<div class="main">
	<div *ngIf="metro">
		<h1 class="metroTitle">
			{{metro.Name}}
		</h1>
		<ul>
			<li
				*ngFor="let line of metro.Lines; let index=index"
				(click)="getLine(line.LineId)">
				<div
					class="li"
					[ngStyle]="{'color': line.TextColour, 'background-color': line.Colour}">
					<div>
						{{line.Name}}
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div *ngIf="line">
		<h1 [ngStyle]="{'color': line.TextColour, 'background-color': line.Colour}">
			{{line.Name}}
		</h1>
		<ul>
			<li
				*ngFor="let station of line.Stations; let index=index"
				(click)="changeStationExpansion(station)">
				<div class="li station">
					<div>{{station.Name}}</div>
					<div *ngIf="station.IsExpanded">
						<div *ngIf="station.ConnectingLines.length">
							<!-- @@@ Culture -->
							Connecting Lines: {{station.GetConnectingLinesString()}}
						</div>
						<img
							class="stationImage"
							*ngIf="station.ImagePath"
							[attr.src]="station.ImagePath" />
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
