.main {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #cccccc;
    border-bottom: 0px;
    margin-top: 20px;
    font-family: sans-serif;
}

h1 {
    padding: 30px 0px;
    margin-top: 0px;
}

.metroTitle {
    color: #000000;
    background-color: #cccccc;
}

ul {
    list-style: none;
    font-size: 20px;
    margin-left: -40px;
    margin-bottom: 0px;
}

.li {
    border-bottom: 1px solid #bbbbbb;
    padding: 10px 0px;
    margin-bottom: 5px;
}

.station {
    color: #666666;
    background-color: #cccccc;
}

.station:hover {
    color: #cccccc;
    background-color: #666666;
}

.stationImage {
    width: 60%;
}
